:root {
    --button-background: #2c0266;
    --button-padding: 2px 10px;
    --button-border: 1px solid white;
    --button-border-radius: 5px;
    --button-margin: 2px;
    --small-font: 12px;
    --medium-font: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
}

/*Positioning for header items for quiz screen*/
header ul {
    display: inline-flex;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    justify-content: space-between;
    font-size: var(--small-font);
}

a {
    text-decoration: none;
    color: var(--button-background);
}

main {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 300px;
}

/*Style for each screen's main title or subject*/
.screen-title {
    display: flex;
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    padding: 10px 0px;
}

/*Position and size for all quiz subscreens*/
.question-box {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 300px;
    margin: 20px;
}

/*
There are two main screen types: 
    1. Quiz screen (start quiz, active quiz, quiz done)
    2. Highscore screen
Screen only displays when shown active
*/

.quiz-screen,
.start-quiz-screen, 
.quiz-questions,
.quiz-done,
.highscore-screen {
    display: none;
}

.quiz-screen.active,
.start-quiz-screen.active,
.quiz-questions.active,
.quiz-done.active,
.highscore-screen.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Positioning for question container*/
.question {
    align-items: center;
}

/*List of answers sizing, display, and styles*/
.answers {
    display: flex;
    flex-direction: column;
    font-size: var(--small-font);
    width: fit-content;
}

/*Styling for each individual answer box*/
.answers li {
    margin: var(--button-margin);
    border: var(--button-border);
    background-color: var(--button-background);
    color: white;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
}

/*Styling and positioning for the feedback box at the bottom of the active quiz*/
.quiz-feedback-box {
    display: flex;
    margin: 20px 20px;
    align-items: center;
    border-top: solid 1px;
    border-top-width: 1px;
    border-top-color: lightgray;
    padding-top: 10px;
    color: lightgray;
    font-style: italic;
}

/*Quiz done screen - final score statement styles*/
.quiz-done p {
    display: flex;
    font-size: var(--medium-font);
    padding: 10px 0px 20px 0px;
}

/*Quiz done screen - Enter Initials form stylings*/
.quiz-done form {
    display: flex;
    font-size: var(--medium-font);
}

form label {
    display: flex;
    align-items: center;
    width: max-content;
}

form input {
    display: flex;
    padding: 0px 10px;
    margin: 0px 10px;
}


/*Active Highscore screen visible display */
.highscore-screen.active {
    width: 60%;
    height: 300px;
    margin: 20px;
}

/*Placement of the highscore screen buttons */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--small-font);
}

/*Styling of the highscore screen buttons*/
.highscore-screen button {
    background-color: var(--button-background);
    color: white;
    justify-content: center;
    object-fit: contain;
    text-wrap: nowrap;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    margin: 10px;
}

#highscores-list {
    display: flex;
    flex-direction: column;
    font-size: var(--small-font);
}

/*Styling for the individual highscore boxes*/
#highscores-list li {
    margin: var(--button-margin);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    background-color: #c5a3f4;
    color: white;
    padding: var(--button-padding);
}
